## Criando um Banco de Dados Para Armazenar os Logs

In [16]:
# Importando a Biblioteca
import sqlite3
import pandas as pd

In [17]:
# Criar o Banco de Dados
conexao_banco = sqlite3.connect('Banco_Dados_API.db')

In [18]:
# Apontar para o banco
cursor = conexao_banco.cursor()

In [19]:
# # Query --> Criar uma tabela

# query_criar_tabela = '''
# CREATE TABLE log_api (
#     id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
#     inputs TEXT,
#     incio TEXT,
#     fim TEXT,
#     processamento TEXT
# )
# '''
colunas = ['id', 'inputs', 'inicio', 'fim', 'processamento']
# cursor.execute( query_criar_tabela )

In [20]:
# # Query --> Insert manual

# query_inserir = '''  
# INSERT INTO log_api ( inputs, incio, fim, processamento)
# VALUES ( '55;3;2;1;1;0;0;500;84', '07/01/2023 00:10:34', '07/01/2023 00:10:35', '00:01' )
# '''

# # Executando a query
# cursor.execute( query_inserir )

# # Commit
# conexao_banco.commit()

In [21]:
# Query --> consultar log do banco

query_consulta = '''  
SELECT * FROM log_api
'''

# Executando a query
cursor.execute( query_consulta ).fetchall()

[(1,
  '55;3;2;1;1;0;0;500;84',
  '07/01/2023 00:10:34',
  '07/01/2023 00:10:35',
  '00:01'),
 (2,
  ';55.0;3.0;2.0;1.0;1.0;0.0;0.0;500.0;84.0;[1801.64978017]',
  '2023-01-07 00:49:00.574733',
  '2023-01-07 00:49:00.579280',
  '0:00:00.004547'),
 (3,
  ';100.0;5.0;3.0;4.0;4.0;2.0;1.0;500.0;600.0;[5515.60868623]',
  '2023-01-07 00:49:25.559233',
  '2023-01-07 00:49:25.563924',
  '0:00:00.004691'),
 (4,
  ';50.0;2.0;1.0;1.0;1.0;0.0;0.0;500.0;600.0;[1996.55484357]',
  '2023-01-07 00:52:26.459364',
  '2023-01-07 00:52:26.463705',
  '0:00:00.004341'),
 (5,
  ';300.0;7.0;5.0;4.0;4.0;0.0;0.0;1100.0;600.0;[6195.70663364]',
  '2023-01-07 01:18:50.600630',
  '2023-01-07 01:18:50.606118',
  '0:00:00.005488')]

In [22]:
# Execute the query and fetch the results
results = cursor.execute(query_consulta).fetchall()

colunas = ['id', 'inputs', 'inicio', 'fim', 'processamento']
# Create a DataFrame from the results
df = pd.DataFrame(results, columns=colunas)

# Print the DataFrame
df

,id,inputs,inicio,fim,processamento
0,1,55;3;2;1;1;0;0;500;84,07/01/2023 00:10:34,07/01/2023 00:10:35,00:01
1,2,;55.0;3.0;2.0;1.0;1.0;0.0;0.0;500.0;84.0;[1801...,2023-01-07 00:49:00.574733,2023-01-07 00:49:00.579280,0:00:00.004547
2,3,;100.0;5.0;3.0;4.0;4.0;2.0;1.0;500.0;600.0;[55...,2023-01-07 00:49:25.559233,2023-01-07 00:49:25.563924,0:00:00.004691
3,4,;50.0;2.0;1.0;1.0;1.0;0.0;0.0;500.0;600.0;[199...,2023-01-07 00:52:26.459364,2023-01-07 00:52:26.463705,0:00:00.004341
4,5,;300.0;7.0;5.0;4.0;4.0;0.0;0.0;1100.0;600.0;[6...,2023-01-07 01:18:50.600630,2023-01-07 01:18:50.606118,0:00:00.005488